{
  "root": true,
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules" : {
    "no-console" : "off",
    "semi": "error"
  },
  "env": {
    "node" : true,
    "es6": true
  }
}